<div class="courses-containers">
    <div class="courses-list">
        <app-courses-list
                [courses]="courses"
                (selected)="selectCourse($event)"
                (deleted)="deleteCourse($event)"
        ></app-courses-list>
    </div>
    <div class="course-details">
        <app-course-detail
                [course]="selectedCourse"
                (saved)="saveCourse($event)"
                (cancelled)="removeCourseSelection()"
        ></app-course-detail>
    </div>
</div>
